
html {
    background: linear-gradient(150deg,#fae588 0%,#fae588,white 100%);
    font-family: 'Poppins';
    width: 100%;
    height: 100%;
} 

h1{
    font-family: 'Poppins';
    margin-top: 40px;
}
p{
    font-family: 'Poppins';
}
img{
    width: 400px;
    height: auto;
}

label{
    font-family: 'Poppins';
}

button{
    color:white;
    background-color: black;
    border-radius: 1.5rem;
    font-family: 'Poppins';
}

input{
    font-family: 'Poppins';
    width: 300px;
}
textarea{
    font-family: 'Poppins';
    width: 300px;
    height: 100px;
}
.row{
    display: flex;
    flex-direction: row;
    
}
.column{
    margin-top: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}





   
