
html {
    background: linear-gradient(150deg,#fae588 0%,#fae588,white 100%);
    font-family: 'Poppins';
    width: 100%;
    height: 100%;
}
body{
    height: 100%;
    width:100%
}
.menuBar{
    height: 10%;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;


}
#businessName{
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.menuLogo {
    width:60px;
    height:60px;

}
.filters{
    height:auto;
    width:20%;
    background-color: rgb(201, 227, 255);
    text-align: center;

}
#filterText{
    color: black;
    font-family: 'Poppins';
    font-size: 20px;
}
label{
    color: black;
    font-family: 'Poppins';
}
.feedColumn{
    height: 100%;
    width: 80%;
    display:flex;
    flex-direction: column;
}
.business{
    color:black;
    width: 90%;
    background-color: white;
    border-radius: 1.5rem;
    border-width: 0.15rem;
    font-family: 'Poppins';
    font-size: 95%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top:0.8%;
    padding-bottom: 0.8%;
    margin-bottom: 2%;
}
.description{
    width: 55%;
    height: auto;
    text-align: center;
}
.contacts{
    width: 45%;
    height: auto;
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
    
}
.businessName{
    width: 90%;
    
}
.businessLogo{
    width:10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    object-fit: cover;
    width: auto;
    height: 120px;
}
.desText{
    text-align: left;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 15px;
}
.iconList{
    width: 40%;
    height: auto;
    text-align: right;

}
.socialList{
    width: 60%;
    height: auto;
    text-align: left;
}
.socialContainer{
    width: 30%;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.contactContainer{
    width: 70%;
    display:flex;
    align-items: center;
    flex-direction: column;

}
