
html {
    background: linear-gradient(150deg,#fae588 0%,#fae588,white 100%);
    font-family: 'Poppins';
    width: 100%;
    height: 100%;
}
body{
    height: 100%;
    width:100%;
}
.menuBar{
    height: 12%;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.businessName{
    display:flex;
    align-items: center;
}
#businessName{
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    
}
.menuLogo {
    width:70px;
    height:70px;

}
.filters{
    height:auto;
    width:20%;
    background-color: rgb(201, 227, 255);
    text-align: center;
    margin: 20px;
    border-style: solid;
    border-color:rgb(201, 227, 255); 
    border-width: 20px;
    border-radius: 20px;

}
#filterText{
    color: black;
    font-family: 'Poppins';
    font-size: 20px;
}
label{
    color: black;
    font-family: 'Poppins';
}
.feedColumn{
    height: 100%;
    width: 80%;
    display:flex;
    flex-direction: column;
}
.business{
    color:black;
    width: 90%;
    background-color: white;
    border-radius: 1.5rem;
    border-width: 0.15rem;
    font-family: 'Poppins';
    font-size: 95%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top:0.8%;
    padding-bottom: 0.8%;
    margin-bottom: 2%;
    visibility: "visible";
}
.business3{
    color:black;
    width: 90%;
    background-color: white;
    border-radius: 1.5rem;
    border-width: 0.15rem;
    font-family: 'Poppins';
    font-size: 95%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top:0.8%;
    padding-bottom: 0.8%;
    margin-bottom: 2%;
    visibility: "hidden";
}
.description{
    width: 55%;
    height: auto;
    text-align: center;
}
.contacts{
    width: 45%;
    height: auto;
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
    
}
.businessName{
    width: 90%;
    
}
.businessLogo{
    width:10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    object-fit: cover;
    width: auto;
    height: 100px;
}
.desText{
    text-align: left;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 15px;
}
.iconList{
    width: 40%;
    height: auto;
    text-align: right;

}
.socialList{
    width: 60%;
    height: auto;
    text-align: left;
}
.socialContainer{
    width: 40%;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.contactContainer{
    width: 60%;
    display:flex;
    align-items: center;
    flex-direction: column;

}
.tag{
    background-color: rgb(209, 160, 255);
    border-style: solid;
    border-color: rgb(209, 160, 255);;
    display: inline-block;
    height: 15px;
    width: auto;
 
   

}

.industryRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
}

#text {
    padding: 50px;
    line-height: 2;
    color: #293241;
  }

.pink{
    color: rgb(0, 0, 0);
    background: pink;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    -webkit-box-decoration-break: clone;
    -moz-background-inline-policy: clone;
    box-decoration-break: clone;
}
.green{
    color: rgb(0, 0, 0);
    background: rgb(35, 166, 35);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    -webkit-box-decoration-break: clone;
    -moz-background-inline-policy: clone;
    box-decoration-break: clone;
}
.blue{
    color: rgb(0, 0, 0);
    background: rgb(49, 100, 255);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    -webkit-box-decoration-break: clone;
    -moz-background-inline-policy: clone;
    box-decoration-break: clone;
}


.white{
    color: rgb(255, 245, 98);;
    background: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0 5px;
    -webkit-box-decoration-break: clone;
    -moz-background-inline-policy: clone;
    box-decoration-break: clone;
    display: flex;
    justify-content: center;
}

h3{
    font-size: 50px;
    color: #cda800;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
}
.black{
    color:black;
    font-weight: normal;
}
#back{
    color: #fae588;
}
.button {
    color: rgb(0, 0, 0);;
    background: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0 5px;
    -webkit-box-decoration-break: clone;
    -moz-background-inline-policy: clone;
    box-decoration-break: clone;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color:#ffffff;
    transition-duration: 0.4s;
    cursor: pointer;
  }
.button:hover {
    color: rgb(255, 255, 255);;
    background: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0 5px;
    -webkit-box-decoration-break: clone;
    -moz-background-inline-policy: clone;
    box-decoration-break: clone;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    height: 60px;
    font-size: 22px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color:#000000

  }
  a {
    display: block;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
}
.submit {
    color:white;
    background-color: black;
    border-radius: 1.5rem;
    font-family: 'Poppins';
    padding-left: 1%;
    padding-right: 1%;
    padding-top:0.4%;
    padding-bottom: 0.4%;
    width:100px;
    height:30px;
    transition-duration: 0.4s;
}
.submit:hover{
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    font-family: 'Poppins';
    padding-left: 1%;
    padding-right: 1%;
    padding-top:0.4%;
    padding-bottom: 0.4%;
    width: 110px;
    height: 35px;
}