html {
    font-family: 'Poppins';
    background: linear-gradient(150deg,#fae588 0%,#fae588,white 100%);
    text-align: center;
}

iframe {
    width:1000px;
    height: 260px;
    border-color: #dcb400;

}
.menuLogo {
    width:70px;
    height:70px;

}
.white{
    color: rgb(255, 245, 98);;
    background: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0 5px;
    -webkit-box-decoration-break: clone;
    -moz-background-inline-policy: clone;
    box-decoration-break: clone;
    display: flex;
    justify-content: center;
}
.menuBar{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
h1{
    font-family: 'Poppins';
    margin-top: 40px;
}
p{
    font-family: 'Poppins';
}
img{
    width: 400px;
    height: auto;
}

label{
    font-family: 'Poppins';
}

button{
    color:white;
    background-color: black;
    font-family: 'Poppins';
}
.black{
    color:black;
    font-weight: normal;
}
#back{
    color: #fae588;
}
.button1 {
    color: rgb(0, 0, 0);;
    background: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0 5px;
    -webkit-box-decoration-break: clone;
    -moz-background-inline-policy: clone;
    box-decoration-break: clone;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color:#ffffff;
    cursor: pointer;
    transition-duration: 0.4s;
  }
.button1:hover {
    color: rgb(255, 255, 255);;
    background: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0 5px;
    -webkit-box-decoration-break: clone;
    -moz-background-inline-policy: clone;
    box-decoration-break: clone;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    height: 60px;
    font-size: 22px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color:#000000

  }
  a {
    display: block;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
}
  h3{
    font-size: 50px;
    color: #cda800;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
}
#subheader {
    text-decoration: underline;
}

.input {
    width:15%;
    line-height: 1;
    padding: 0.5%;
    font-family: 'Poppins';
    margin-top:1%;
    margin-bottom:1%;
}

button {
    background-color: black;
    color: white;
    border-radius: 3px;
    font-size:14px;
    font-family: 'Poppins';
    padding-left:1%;
    padding-right:1%;
    padding-top:  0.2%;
    padding-bottom: 0.2%;
    transition-duration: 0.4s;


}

button:hover {
    background-color: #dcb400;
    color:white;

}

textarea {
    font-family: 'Poppins';
    min-width:50%;
    min-height: fit-content;
    overflow-y: scroll;
    border-color: navy;
    border-radius: 10px;
    font-size:13.5px;

}
