html {
    height:max-content;
    background: linear-gradient(150deg,#fae588 0%,#fae588,white 100%);
    font-family: 'Poppins';
}

body {
    font-family: 'Poppins';
}
.center {
    text-align: center;
    margin-top:0%;
}

h1 {
    font-size:300%;
}


h3 {
    margin-top:-2%;
    color:navy;
}

#margin {
    margin-top: 2%;
}

#spacer {
    margin-bottom: 8%;
}

#spacer2 {
    margin-bottom:3%;
}
li {
    list-style: none;
}

#msform {
	width: 40%;
	margin: 11px auto;
	text-align: center;
	position: relative;
    margin-top: -1%;
}

#msform div {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
    text-align: center;
	margin: 0% 8%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}

#msform fieldset:not(:first-of-type) {
	display: none;
}

#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 80%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
    font-family: 'Poppins';
    text-align: center;
}



label {
    font-weight: bold;
    color:black;
}

#override_input {
    padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 70%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
    font-family: 'Poppins';
}

select {
    position:inherit;

}

.container{
    display:flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}


.table {
   display:flex;
   flex-direction: row;

}

#header {
    font-size:110%;
    font-weight:bolder;
}

ul > li {
    list-style: none;
    justify-content: space-between;
}

#msform .action-button {
	width: 100px;
    border: 0 solid;
    box-shadow:inset 0 0 0px white;
    background-color: #dfb600;
    outline: 1px solid;
    outline-color:#dfb600;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
	font-weight: bold;
	color:white;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
	border: 1px solid;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: #dfb600;
    outline-offset: 5px;
    text-shadow: 1px 1px 2px #dfb600;
    
}

#progressbar {
	margin-bottom: 5%;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
    margin-left:-10%;
}

#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 9px;
	width: 25%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: white;
	background: black;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: black;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: white;
	color: #dfb600;
}






